<div>
    <div class="resource-page__banner">
        {{_messageService.getBundle('RESOURCES')}}
    </div>

    <div style="padding-left: 1rem;" ibmGrid [condensed]="gridCondensed">
        <div ibmRow>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.carbondesignsystem.com/" target="_blank">
                    <!--title-->
                    <div>
                        Overview Video of Python AI Toolkit for IBM z/OS
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        Overview and demo of the installation of Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.ibm.com/support/z-content-solutions/journey-to-open-data-analytics/" target="_blank">
                    <!--title-->
                    <div>
                        Journey to Open Data Analytics
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        Content solution on how to get started with open data analytics on IBM Z and LinuxONE.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.ibm.com/products/open-enterprise-python-zos" target="_blank">
                    <!--title-->
                    <div>
                        IBM Open Enterprise SDK for Python
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        A pre-requiste requirement in order to install Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
        </div>
        <div ibmRow>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.ibm.com/common/ssi/ShowDoc.wss?docURL=/common/ssi/rep_ca/1/897/ENUS223-021/index.html&request_locale=en" target="_blank">
                    <!--title-->
                    <div>
                        Announcement Letter
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        Official announcement of Python AI Toolkit for IBM z/OS with more details about the product.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.carbondesignsystem.com/" target="_blank">
                    <!--title-->
                    <div>
                        FAQ
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        Answers to the most popular questions asked in relation to Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
        </div>
    </div>
</div>