<div>
    <div class="resource-page__banner">
        {{_messageService.getBundle('RESOURCES')}}
    </div>

    <div style="padding-left: 1rem;" ibmGrid [condensed]="gridCondensed">

        <div ibmRow>

            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://ibm.biz/zPAIT_overview" target="_blank">
                    <!--title-->
                    <div>
                        Overview Video
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        A video that takes you through an overview of Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://ibm.biz/zPAIT_demo" target="_blank">
                    <!--title-->
                    <div>
                        Getting Started Video
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        A video that demonstrates how to get started and install Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://ibm.biz/zPAIT_redbook" target="_blank">
                    <!--title-->
                    <div>
                        Redpaper Solution Guide
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        A published paper with a deeper dive on Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>

        </div>

        <div ibmRow>

            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://ibm.biz/BdPnE6" target="_blank">
                    <!--title-->
                    <div>
                        Journey to Open Data Analytics
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        Content solution on how to get started with open data analytics on IBM Z and LinuxONE.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://github.com/ibm-z-oss-oda/python_ai_toolkit_zos/blob/main/FAQ.md" target="_blank">
                    <!--title-->
                    <div>
                        FAQ
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        Answers to the most popular questions asked in relation to Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <!-- 
                Announcement Letter section is currently hidden because it is no longer valid.
                To make it visible again, simply remove *ngIf="false" from the outer div.
            -->
            <div *ngIf="false" class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://ibm.biz/BdPnXX" target="_blank">
                    <!--title-->
                    <div>
                        Announcement Letter
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        Official announcement of Python AI Toolkit for IBM z/OS with more details about the product.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>
            <div class="marginTopLeft" ibmCol [columnNumbers]="{'lg': 3, 'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.ibm.com/products/open-enterprise-python-zos" target="_blank">
                    <!--title-->
                    <div>
                        IBM Open Enterprise SDK for Python
                    </div>
                    <!--description-->
                    <div class="marginTopBottom">
                        A pre-requiste requirement in order to install Python AI Toolkit for IBM z/OS.
                    </div>
                    <!--launch button-->
                    <div>
                        <svg class="bx--btn__icon" ibmIconLaunch size="16"></svg>
                    </div>
                </ibm-clickable-tile>
            </div>

        </div>
    </div>
</div>