<div>
  <nav aria-label="Breadcrumb" style="margin-bottom: 48px;">
    <ibm-breadcrumb  [noTrailingSlash]="noTrailingSlash">
      <ibm-breadcrumb-item>
       <a (click)="goToHome()" tabindex="0" role="button" (keydown.enter)="goToHome()" (keydown.space)="goToHome()"> {{_messageService.getBundle('PACKAGES')}} </a>
      </ibm-breadcrumb-item>
    </ibm-breadcrumb>
  </nav>
  <div>
    <div class="imageNameTagLine">
      <!--package name-->
      <h1 class="imageName">{{packageInfoData.name}}</h1>
      <!--package tags-->
      <span *ngFor="let tag of packageInfoData.tags">
        <ibm-tag [type]="checkTagType(tag)">{{tag}}</ibm-tag>
      </span>
    </div>
    <div [innerHtml]="packageInfoData.info.description">
      <!--package description-->
    </div>
    <p>
      {{_messageService.getBundle('PACKAGES_DESC1')}} <a href="{{packageInfoData.info.linkToSite}}" target="_blank" rel="noopener noreferrer">{{packageInfoData.info.siteName}}<span class="sr-only"> (opens in new tab)</span></a> {{_messageService.getBundle('PACKAGES_DESC2')}}
    </p>
    <p>
      {{_messageService.getBundle('PACKAGES_DESC3')}}
    </p>
  </div>

  <!--package License-->
  <div>
    <h2 class="heading02">{{_messageService.getBundle('PACKAGES_LICSEN')}}</h2>
      <!--package linkToLicense-->
      <p *ngIf="packageInfoData.name == 'ansi2html'">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN')}} <a href="{{packageInfoData.info.linkToLicense}}" target="_blank">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN_HERE')}}</a></p>
      <p *ngIf="packageInfoData.name == 'chardet'">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN')}} <a href="{{packageInfoData.info.linkToLicense}}" target="_blank">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN_HERE')}}</a></p>
      <p *ngIf="packageInfoData.name == 'fontconfig'">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN')}} <a href="{{packageInfoData.info.linkToLicense}}" target="_blank">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN_HERE')}}</a></p>
      <p *ngIf="packageInfoData.name == 'freetype2'">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN')}} <a href="{{packageInfoData.info.linkToLicense}}" target="_blank">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN_HERE')}}</a></p>
      <p *ngIf="packageInfoData.name == 'glib'">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN')}} <a href="{{packageInfoData.info.linkToLicense}}" target="_blank">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN_HERE')}}</a></p>
      <p *ngIf="packageInfoData.name == 'jaydebeapi'">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN')}} <a href="{{packageInfoData.info.linkToLicense}}" target="_blank">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN_HERE')}}</a></p>
      <p *ngIf="packageInfoData.name == 'uwsgi'">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN')}} <a href="{{packageInfoData.info.linkToLicense}}" target="_blank">{{_messageService.getBundle('PACKAGES_VIEW_LICSEN_HERE')}}</a></p>
      <div *ngIf="packageInfoData.name != 'ansi2html' && packageInfoData.name != 'chardet' && packageInfoData.name != 'fontconfig' && packageInfoData.name != 'freetype2' && packageInfoData.name != 'glib' && packageInfoData.name != 'jaydebeapi' && packageInfoData.name != 'uwsgi'"><p><i>{{_messageService.getBundle('PACKAGE_NEW_LICSEN_STRING1')}}</i></p><p><i>{{_messageService.getBundle('PACKAGE_NEW_LICSEN_STRING2')}}</i></p></div>
    <div>
      <!--package License description-->
      <p>
        {{_messageService.getBundle('PACKAGES_LICSEN_DESC1')}}
      </p>
      <p>
        {{_messageService.getBundle('PACKAGES_LICSEN_DESC2')}}
      </p>
    </div>
  </div>

  <!--package Versions-->
  <div>
    <h2 class="heading02">{{_messageService.getBundle('PACKAGES_VERSIONS')}}</h2>
    <p>
      <!--package versions desc-->
       {{_messageService.getBundle('PACKAGES_VERSIONS_DESC')}}
    </p>
    <div>
      <!--package versons structed list-->
      <ibm-structured-list [border]="border" [condensed]="condensed" [nowrap]="nowrap" ariaLabel="Package versions and installation commands">
    <ibm-list-header>
     <ibm-list-column nowrap="true" role="columnheader">{{_messageService.getBundle('PACKAGES_VERSIONS')}}</ibm-list-column>
     <ibm-list-column nowrap="true" role="columnheader">{{_messageService.getBundle('PACKAGES_PULL_STRING')}}</ibm-list-column>
    </ibm-list-header>

        <ibm-list-row *ngFor="let pullStrRow of pullStrRowData">
          <ibm-list-column>{{pullStrRow.version}}</ibm-list-column>
          <ibm-list-column nowrap="true">
            <ibm-code-snippet display="single" >
              {{pullStrRow.pullStr}}
            </ibm-code-snippet>
          </ibm-list-column>
        </ibm-list-row>
			</ibm-structured-list>
    </div>
  </div>

  <!--package usage notes-->
  <div>
    <h2 class="heading02">{{_messageService.getBundle('PACKAGES_USAGE_NOTES')}}</h2>
    <p [innerHtml]="packageInfoData.info.usageNotes">
      <!--package usage notes-->
    </p>
  </div>
</div>
